@import "/src/config.scss";

.register {
  width: 50%;
  height: auto;
  background-color: $aqua-blue;
  color: $dark-blue;
  padding: 2.5rem 3rem;
  box-shadow: $box-shadow-lg;
  border-radius: 5px;

  @media (max-width: 1024px) {
    width: 95%;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin: 1rem 0 2rem;

    & img {
      width: 12rem;
      height: auto;
    }
  }

  &-msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;

    position: absolute;
    top: 1rem;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: $aqua-blue;

    &-success {
      background-color: $bg-success;
    }

    &-error {
      background-color: $bg-danger;
    }

    & p {
      color: black;
    }

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 5rem;
    height: 5rem;
  }

  &-spinner:after {
    content: " ";
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 50%;
    border: 6px solid $dark-blue;
    border-color: $dark-blue transparent $dark-blue transparent;
    animation: dual-spinner 1.2s linear infinite;
  }
}

.form {
  width: 100%;
  height: auto;

  &-field {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin: 1rem 0;

    & input {
      width: 100%;
      border-radius: 5px;
      border: 1px solid $light-gray;
      box-shadow: $box-shadow-dk;
      padding: 1rem;
    }

    & input::placeholder,
    &-invalid {
      font-weight: 300;
      font-size: 0.875rem;
    }

    & input:focus {
      outline-color: $dark-blue;
    }

    & input:focus::placeholder {
      color: $light-blue;
    }

    &-invalid {
      color: $bg-danger;
    }
  }

  &-action {
    margin-top: 2rem;
    text-align: center;
  }
}
